@font-face {
    font-family: 'montserrat-bold';
    src: url('../../fonts/montserrat/montserrat-bold.ttf');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../../fonts/montserrat/montserrat-semibold.ttf');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../../fonts/montserrat/montserrat-medium.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../../fonts/montserrat/montserrat-regular.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../../fonts/montserrat/montserrat-light.ttf');
}

@font-face {
    font-family: 'montserrat-thin';
    src: url('../../fonts/montserrat/montserrat-thin.ttf');
}