$whiteColor: #FFFFFF;
$blackColor: #333333;
$greyColor: #a2a2a2;
$primaryColor: #6600FF;
$infoColor: #5BC0DE;
$successColor: #22BB33;
$warnColor: #F0AD4E;
$dangerColor: #BB2124;

$titleSize: 3rem;
$countSize: 2.5rem;
$subtitleSize: 1.5rem;
$defaultSize: 1rem;
$bodySize: 0.875rem;

$bold: 'montserrat-bold';
$semiBold: 'montserrat-semibold';
$medium: 'montserrat-medium';
$regular: 'montserrat-regular';
$light: 'montserrat-light';
$thin: 'montserrat-thin';

$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 3050;